
@import "mixins";
@import "variables";

*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
   
}

.displayB{
    display: block;
}

.displayN{
    display: none;
}

li{
    list-style: none;
}
li>a{
    text-decoration: none;
}
li>a:hover{
    cursor: pointer;
}
h2, h3{
    color: $main_color;
    font-weight: 800;
}
h2{
        text-align: center;
        width: 100%;
     text-transform: uppercase;
     margin: 60px 0;
    }
h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

//Скрытые элементы
#succes_send{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    background: rgba(255,255,255, 0.95);
    padding: 17px 40px;
    border: 1px solid blue;
    color: #666;
}
.menu-mobile{
    
   
    display: none;
    padding-bottom: 15px;
    img{
        margin: 0 auto;
        height: 25px;
        width: 25px;
        
    }

}



header{
    
    background: url(../bg/bg1.jpg);
    background-size: cover;
   //background: #0D0D0D;
    //height: 100vh;
    height: 700px;
    width: 100%;
    
    .header_container{
        @include justify;
        
        
        nav{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .menu{
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                color: $second_color;
                justify-content: space-between;
                width: 300px;
                text-transform: uppercase;
                margin-top: 20px;
                li{ 
                  
                   width: 23%;
                    //min-width: 60px;
                    a{
                        width: 100%;
                            @include shift;
                    color: #fff;
                    margin-left: -15px;
                    
                    &:hover{
                        @include shift;
                        cursor: pointer;
                        
                       text-shadow: 0 0 25px #ffffff;
                         font-weight: 800;
                        
                        }
                    }
                }
            }
            }
        
        .title{
            color: $second_color;
            margin: 0 auto;
            max-width: 800px;
            height: 650px;
            
            padding-top: 150px;
                        
            .name{
                 text-align: center;
                font-size: 20px;
                letter-spacing: 4px;
                width: 340px;
                height: 40px;
                padding: 7px 5px;
                text-transform: uppercase;
                margin: 0 auto 30px;
                word-spacing: 10px;
                font-weight: 600;
                background: $second_color;
                color: $main_color;
                  @include shift;
                &:hover{
                     box-shadow: 0 0 20px rgba(244,244,244,0.5);
                      @include shift;
                }
                
            }
            h1{    
                font-size: 48px;
                text-align: center;
               
            }
            .title_btns{
                
                width: 400px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-around;
                margin: 30px auto 0;
                height: 40px;
                text-transform: uppercase;
                
            }
        
            .title-btn{
                font-weight: 400;
                margin: 0 auto;
                background: transparent;
                float: left;
                border: $btn_border;
                display: inline-block;
                padding: 7px 40px;
                
                  @include shift;
                a{
                    color: #fff;
                    text-decoration: none;
                }
                &:hover{
                      @include shift;
                    cursor: pointer;
                    background: rgba(255,255,255, 0.3);
                     box-shadow: 0 0 20px rgba(244,244,244,0.5);
                }
            }
            .mouse{
                height: 40px;
                width: 40px;
                margin: 150px auto 0;
               
                svg{
                    fill: #FFF;
                    @include shift;
                    
                    &:hover{
                        @include shift;
                       
                        fill: $accent_color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

main{
    background: #FFFFFF;
    height: auto;

}

section{
    @include justify;
}

.advantage{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
    margin-top: 20px;
    .advantage_card{
        color: $second_color;
        background: #444;
        padding: 25px;
        justify-self: center;
        margin: 20px 0px;
        width: 250px;
        max-width: 300px;
        height: 280px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
       align-items: center;
       
        &:nth-child(odd){
            background: #111;
        }
        &:nth-child(even){
            background: #222;
        }
        .advantage_card_title{
           text-transform: uppercase;
            margin: 20px 0;
            font-size: 14px;
            letter-spacing: 1px;
            text-align: center;
        }
        .advantage_card_icon{
            img{
                
                width: 60px;
                height: 60px;
            }
        }
        .advantage_card_text{
           flex: 1 0 100%;
           width: 200px;    
            text-align: center;
        }
    }
}
 
.about_container{

    display: grid;
    display: -ms-grid;
    grid: 1fr auto/ minmax(320px, 1fr)  minmax(320px, 1fr);
    -ms-grid-columns: minmax(320px, 1fr) 15px minmax(320px, 1fr);
    -ms-grid-rows: 1fr 15px auto;
    
    grid-gap: 35px;
   
    
    .info{
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        height: auto;
        ;
        .text{
           font-size: 18px;
            line-height: 22px;
            font-style: italic;
            color: $passive_color;
        }
        table{
            color: $passive_color;
            width: 100%;
            height: 200px;
            margin-top: 20px;
            border-spacing: 0px 30px;
            border-collapse: collapse;
            font-size: 18px;
            .col1{
                font-weight: 600;
                font-size: 18px;
                color: $main_color;
                
            }
            span{
                font-weight: bold;
                margin-right: 20px;
                font-size: 20px;
            }
        }
        .social{
            margin-top: 20px;
          display: inline-block;
            height: auto;
            .social_item{ 
                
                border-color: #fff;
                height: 45px;
                width: 45px;
                padding: 7px;
                float: left;
                margin-right: 20px;
                fill: $passive_color;
                &:hover{
                    @include shift;
                     border-color: #fff;
                }
  
                a{
                    svg{
                        @include shift;
                        g{
                            fill: inherit;
                            path{
                                fill: inherit;
                            }
                        }
                       // fill: $passive_color;   
                        height: 30px; 
                        width: 30px;  
            
                        &:hover{
                        @include shift;
                        fill: $accent_color;
                       
                    } 
                        } 
                }
            }
        }
    }
    
    .photo{
       // border-radius: 30px;
        -ms-grid-column: 3;
        -ms-grid-row: 1;
        height: 100%;
        max-width: 500px;
        width: 80%;
     
      
        
       justify-self: center;
              background: url(../images/photo_self.jpg) no-repeat center/cover;
           
        
    }
    
    .progress{
        
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        height: 200px;
       
        
        .skill{
            
            margin: 15px 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            
            .skill_name{
              text-transform: capitalize;
                font-size: 18px;
                width: 160px;
            }
            .skill_bar{
               
                width: 100%;
                .line{
                     position: relative;
                    height: 20%;
                    background: $passive_color;
                    margin-top: 10px;
                    .point{
                        position: absolute;
                        display: block;
                        right: -15px;
                        top: -4px;
                        border: 4px solid $passive_color;
                        border-radius: 20px;
                        width: 14px;
                        height: 14px;
                        
                    }
                }
            }
            #skill_bar1{
                
                .line{
                    width: 90%;
                 
                }
                
            }    
            #skill_bar2{
            
                    .line{
                        width: 80%;
                    }
                
            }
            #skill_bar3{
                    .line{
                        width: 45%;
                    }
                
            }
            
            .percent{
                width: 100px;
                text-align: center;
                color: $passive_color;
                font-weight: bold;
            }
            
        }
        

    }
    
    .stack{
        -ms-grid-column: 3;
        -ms-grid-row: 3;
       
           
    } 
    .stack_cards{
        margin-top: 15px;
        padding: 20px 10px;
         background: #DBF9E7;
        height: auto;
       
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .stack_card{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70px;
               margin: 10px 5px; 
            
            img{
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
            }
        }
    }
}


.works_container{
    //overflow-x: hidden;
    height: auto;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     align-items: space-around;
    
    .site{
        position: relative;
       height: auto;
        margin-bottom: 50px;
        
        .layer{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            background: rgba(128, 172, 238, 0.0);
            
            @include shift;
            
            .transit{
                img{
                    width: 30px;
                    height: 30px;
                    opacity: 0.0;
                    
                }
            }
        }
        
        &:hover .layer{
            @include shift;
           background: rgba(128, 172, 238, 0.7);
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
            cursor: pointer;
        }
        &:hover .transit img{
             opacity: 1;
            @include shift;
            animation: ping 1.3s infinite;
        }
        img{
            height: 205px;
            width: 400px;
            
        }
    }
}

.contact_container{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    .col{
        width: 100%;
        height: 400px;
    }   
    .col1{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        .social_item{
            width: 60px;
            height: 60px;
            svg{
                 @include shift;
                height: 40px;
                width: 40px;
                fill: $passive_color;
                g{
                    fill:inherit;
                    path{
                        fill:inherit;
                    }
                }
                &:hover{
                    @include shift;
                    fill: $accent_color;
                }
            }
            
        }
        .social_item-call{
                a {
                svg{
                    height: 35px;
                width: 35px;
                }
                }
            }
    }
    .col2{
        
        
        p{
            float: left;
            clear: both;
        }
        input{
            padding: 10px 20px;
            border: 0px;
            border-bottom: 1px solid $passive_color;
            display: block;
            width: 100%;
            height: 50px;
            font-size: 16px;
            margin-bottom: 20px;
            outline:none;
            
        }
        input[type="submit"]{
            border: 0px;
            
        }
        #msg{
            width: 100%;
             padding: 10px 20px;
            font-size: 16px;
            border: 0px;
            padding-bottom: 80px;
            height: 150px;
            resize: none;
            border-bottom: 1px solid $passive_color;
            margin-bottom: 20px;
            outline:none;
        }
        #btn-send{
            width: 140px;
            background: #80C9EE;
            text-transform: uppercase;
            @include shift;
             color: $passive_color;
            &:hover{
                @include shift;
                cursor: pointer;
               
                font-weight: 800;
                   
            }
        }
        
    }
}

footer{
    width: 100%;
    height: 100px;
 //   background: #F7F5F6;
    background: url(../bg/bg1.jpg);
    border-top: 1px solid lighten($passive_color, 40%);
}


@media (max-width: 700px) {
    header{
        height: 100vh;
        .title{
            position: absolute;
            top: 20%;
            right: 0;
            width: 100%;
        }
    }
  .about_container{
      .progress{
          display: none;
      }

    
    grid: repeat(3, 1fr)/ 1fr;
    -ms-grid-columns: 100%;
    -ms-grid-rows: auto 15px auto 15px auto;
      justify-content: space-around;
    width: 100%;
    grid-gap: 25px;
        .info{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-row: 2;
        
            .text{
                
               //width: 320px;
                width: 100%;
               
                //height: auto;
            }
      }
          
      .photo{
          -ms-grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
          width: 300px;
      }
      .stack{
          -ms-grid-column: 1;
        -ms-grid-row: 5;
        grid-row: 3;  
          width: 100%;
      }
    }
    .contact_container{
        flex-direction: column;
        .col1{
          order: 1;
            height: auto;
        }
        .social_item-call{
                a {
                svg{
                    height: 35px;
                width: 35px;
                }
                }
            }
    
    .col2{
        order: -2;     
     
        }
        
    }
    
}

@media (min-width: 220px) and (max-width: 480px) {
   
    
    header{
      .header_container{
        padding: 0;
        margin: 0;
        position: relative;
        nav{
            display: block;
             .menu{
                display: none;
       
            }
            .menu-mobile{
                height: 40px;
                padding-top: 8px;
                position: relative;
                display: block;
               text-align: center;
                color: $second_color;
                text-transform: uppercase;
                li{
                   width: 100%;
                    position: absolute;
                    display: block;
                    border-bottom: 1px solid gray;
                    background: #EEE;
                    height: 40px;
                    padding-top: 8px;
                    a{color: $main_color;
                    
                    }
                    
                    
                    
                }       
                #li1{
                    display: none;
                    border-top: 1px solid gray;
                    top: 40px;
                    z-index: 4;
                }
                #li2{
                    display: none;
                    top: 40px;
                    z-index: 3;
                }
                #li3{
                    display: none;
                    top: 40px;
                    z-index: 2;
                }
                #li4{
                    display: none;
                    top: 40px;
                    z-index: 1;
                }
    }    
          background: #666;
             
       
        }
          .title{
              height: 70%;
              position: absolute;
              top: 30%;
              .mouse{
                  display: none;
              }
              padding-top: 50px;
              .name{
                 width: 70%;
                  min-width: 300px;
                  font-size: 14px;
                  padding-top: 10px;
                  margin-bottom: 10px;
              }
              h1{
                  font-size: 32px;
              }
               .title_btns{
                
                   display: block;
                  width: 100%;           
                height: 30px;
            
                   &>:first-child{
                       position: absolute;
                       left: 0;
                       bottom: 0;
                       margin: 0;
                       
                       
                      
                   }
                     &>:last-child{
                         position: absolute;
                         right: 0;
                       bottom: 0;
                       margin: 0;
                   }
            }
              
            .title-btn{
                height: 30px;
                font-size: 14px;
                display: block;
            padding: 5px 40px;
              }
          }
      }    
    }
    .advantage{
        justify-content: space-around;
    }
    .works_container{
        .site{
            img{
                width: 320px;
                height: auto;
            }
        }
    }
  
   
  
}

@-webkit-keyframes ping {
    0% {transform: scale(1.0);  }
    50% {transform: scale(1.2); }
    100% {transform: scale(1.0); }
}
@-o-keyframes ping {
    0% {transform: scale(1.0);  }
    50% {transform: scale(1.2); }
    100% {transform: scale(1.0); }
}
@-moz-keyframes ping {
    0% {transform: scale(1.0);  }
    50% {transform: scale(1.2); }
    100% {transform: scale(1.0); }
}
@keyframes ping {
    0% {transform: scale(1.0);  }
    50% {transform: scale(1.2); }
    100% {transform: scale(1.0); }
};

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('../fonts/open-sans-v17-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v17-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../fonts/open-sans-v17-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v17-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}